.w-100{
  width: 100%;
}
.time-label{
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}
.time-label2{
  color: red;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}
.time-label3{
  color: blue;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}